/* Header section */
body{
    margin: 0 auto;
}

h2, h3, h4, h5, h6{
    color: #EC994B;
    font-family: serif;
    margin-bottom: 20px;
    font-family: 'Bree Serif', serif;
}
h2{
    font-size: 3.4rem;
    margin-top: 0;

}

h4{
    font-size: 1.4rem;
}
a{
    text-decoration: none;
}

p{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: rgba(255, 255, 255, 100%);
}
header{
   position: fixed;
   z-index: 2;
   top: 0px; 
   width: 100%;
} 
.mt-all{
    margin-top: 60px;
}

.active{
    color: rgba(255, 0, 0, 100);
}

.general-padding{
    padding: 50px 250px;
}

.blue-txt{
    color: rgba(22, 35, 82, 100%);
}
/* containers */
.container{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.container-foot{
    
    align-items: flex-start;
    justify-content: space-evenly;
    /* padding: 50px 200px; */
}
.container-vision{
    align-items: center;
    justify-content: space-around;
}
.container-cards{
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 50px 0;
}

.container-cards-port{
    
    align-items: flex-end;
    justify-content: space-around;
    padding: 5px 0;
    margin-bottom: 20px;
    
}

.container-ex{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.container-ln{
    flex-direction: column;
    align-items: flex-start;
    
    
}

.container-contactus{
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
}

.container-prop{
    align-items: flex-start;
    justify-content: space-evenly;
}

/* navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 100%);
    padding: 10px 90px;
    max-height: 50px;
    
}
.br-nav{
    border-bottom: 5px solid rgba(255, 0, 0, 100);
}

.nav{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    visibility: visible;
}

.nav-link{
    text-decoration: none;
    color: rgba(0, 0, 60, 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    font-weight: 500;
    padding: 3px 10px;
}
.nav-link:hover{
    color: rgba(255, 0, 0, 100);
}
.nav-link:active{
    color: rgba(255, 0, 0, 100);
}

.nav-img{
    width: 100px;
}

.welcome{
    height: 500px;
    overflow: hidden;
}
h1{
    color: #fff;
    font-size: 4rem;
    font-family: serif;
    font-weight: bolder;
    width: 70%;
    text-align: center;
    position: absolute;
    top: 300px;
    right: 250px;
}
.head-img{
    width: 100%;
}

/* vision */



.gp-2{
    gap: 20px;
}

.art{
    text-align: left;
    width: 450px;
}

.img-vision{
    width: 50%;
    height: 250px;
    border-radius: 15px;
}

.img-index{
    width: 50%;
}

.img-team{
    width: 30%;
}

/* book appointment */

.books{
    text-align: center;
    padding: 100px 200px;
    background-color: rgba(22, 35, 82, 100%);
}

.books h3{
    color: #fff;
    font-size: 2.5rem;
}
.btn{
    background-color: rgba(255, 0, 0, 100);
    width: 200px;
    height: 50px;
    font-size: 1rem;
    color: #fff;
    border: none;
    margin-top: 20px;
}

.btn:hover{
    background-color: white;
    border: 2px rgba(255, 0, 0, 100) solid;
    color: rgba(255, 0, 0, 100);
}

/* footer */
#footer{
    background-color: #1E1E1E;
}



form{
    margin-top:10px;
}
/* .form-foot{
    width: 80%;
} */

footer p{
    font-size: .8rem;
}
input{
    height: 30px;
    width: 230px;
    margin-bottom: 20px;
    display: block;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    color: #fff;
    font-size: 0.9rem;
}
label{
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
}

.col ul{
    list-style: none;
}
.col ul li{
    line-height: 1.8;
}

.col ul li a{
   text-decoration: none;
   color: #fff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col ul li a:hover{
    color: red;
}

footer{
    background-color: #1E1E1E;
}
footer p{
    margin:0;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

/* about us page */
/* about us */

.welcome-others{
        height: 20vh;
        overflow: hidden;
}

/* #mission section */
.art-2{
    text-align: center;
}

/* cards section */
#team{
    background-color: rgba(22, 35, 82, 100%);
}

.card{
    text-align: center;
}

.w-lg{
    width: 80%;
}

.w-md{
    width: 20%;
}

.top{
    text-align: center;
    padding: 10px 0;
}



.text{
    width: 45%;
    text-align: left;
    line-height: 2;
}

.text h3{
    margin-top: 0;
    margin-bottom: 90px;
    font-size: 2.5rem;
}

/* selectors */
.selector-head{
    width: 50%;
    margin: 100px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.but{
    text-decoration: none;
    padding: 10px;
    color: rgba(22, 35, 82, 100%);
    font-family: 'Poppins', sans-serif;
    
}
.but:hover{
    border-bottom: 1px solid rgba(255, 0, 0, 100);
   color: rgba(255, 0, 0, 100);

}


.container-cards-port:hover{
    cursor: pointer;
    border-radius: 10px;
    border: 1px rgba(255, 0, 0, 100) solid;
}

.img-vision{
    width: 40%;
    height: 250px;
    margin-top: 0;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.in{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* property Expanded page */



.mb2{
    margin: 0 0 20px;
}

.norm{
    color: #fff;
}

.bg-blue{
    background-color: rgba(22, 35, 82, 100%);
}

.img-big{
    width: 100%;
}

.img-property{
    width: 25%;
    padding: 10px 20px;
}

.img-property:hover{
    opacity: .5;
    cursor: pointer;
}



.w2{
    width: 40%;
    margin-left: 20px;
}

.w-cover{
    width: 100%;
}
.w-big{
    width: 80%;
}

.norm{
    margin-left: 10px;
}

.no-mt{
    margin-top: 0;
}

/* contact us page */
/* contact us section */


.form-contactus{
    width: 50%;
    margin-top: 0;
}

.contactus{
    width: 45%;
}

.names{
    border: .5px grey solid;
    color: #000;
    margin: 10px 0;
    height: 35px;
    width: 100%;
}
.names:active{
    backdrop-filter: blur(5px);
}
.this{
    list-style: none;
    padding-left: 30px;
}
.this li{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: rgba(22, 35, 82, 100%);
    margin-bottom: 5px;
}

.set-invisible{
    display: none;
    visibility: hidden;
    border: none;
    background-color: transparent;
}
.set-invisible i{
    font-size: 1.5rem;
    color: blue;
}

@media (max-width: 1024px) {
    body{
        width: 100%;
    }

    h1{
        font-size: 2.5rem;
        right: 15%;
        top: 17%;
        width: 70%;
    }

    h3{
        margin-top: 20px;
    }

    .general-padding{
        padding: 50px 100px;
    }

    .img-index{
        width: 40%;
    }

    .books{
        padding: 50px 100px;
    }
    .books h3{
        font-size: 2rem;
    }

    .container-foot{
        gap: 10px;
    }

    .nav-link{
        font-size: .8rem;
    }

    label{
        font-size: .8rem;
    }

    /* portfolio  page */

    .details{
        width: 300px;
    }

    .form-foot input{
        width: 100%;
    }

    .text h3{
        margin-bottom: 30px;
    }

    .img-vision{
        width: 45%;
        height: 200px;
        border-radius: 15px;
    }
    /* contact us */

    .container-contactus{
        padding: 50px 100px;
    }
    .names{
        width: 250px;
    }

    #contactus h2{
        font-size: 2.2rem;
    }
}

@media (max-width: 775px){
    .set-invisible{
        visibility: visible;
        display: inline;
        cursor: pointer;
    }
    .nav{
        display: none;
    }
}
@media (max-width: 500px){
    .nav{
        visibility: hidden;
    }
    .navbar{
        padding: 10px;
    }

    .nav-link{
        font-size: .6rem;
    }

    h1{
        font-size: 1.5rem;
        position: static;
        width: 70%;
        color: rgba(0, 0, 60, 100%);
    }

    h2{
        font-size: 1.2rem; 
    }
    
    .welcome{
        text-align: center;
        height: 350px;
    }

    .general-padding{
        padding: 10px 20px;
    }

    .gp-2{
        gap: 0;
    }

    .container-vision{
        flex-direction: column-reverse;
    }

    .art{
        text-align: center;
    }

    .img-index{
        width: 50%;
    }

    .blue-txt{
        width: 90%;
    }

    .btn{
        height: 40px;
        margin-top: 5px;
    }

    .w-cover{
        width: 75%;
    }


    .container-contactus{
        flex-direction: column;
    }
    .container-foot{
        flex-direction: column;
    }
    
    .contactus{
        width: 100%;
        text-align: center;
    }
    .contactus .w-lg{
        width: 100%;
    }

    .form-contactus{
        width: 100%;
        text-align: center;
    }

    .form-contactus input{
        margin: 5px auto;
    }

    footer p{
        font-size: .6rem;
    }

    .form-foot label{
        font-size: .6rem;
    }

    
}