nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 200px;
    background-color: yellow;
    color: #000;
    min-height: 30px;
    min-width: 80%;
    position: fixed;
    top: 0;
}
ul{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

ul li{
    padding: 0 20px;
}
a{
    text-decoration: none;
    color: #000;
}